repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude: ^\.envrc$
      - id: shfmt
        name: shfmt
        entry: shfmt -w
        language: system
        types: [shell]
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        types: [nix]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        args: [-d, "{extends: relaxed, rules: {line-length: disable}}"]
      - id: markdownlint
        name: markdownlint
        entry: markdownlint --fix
        language: system
        types: [markdown]
        exclude: ^CHANGELOG\.md$
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
